<p class="text-justify" style="font-family:times new roman; font-size:20"><b><u>Profil Perusahaan</u></b><br><br>
PT. XYZ merupakan perusahaan yang bergerak dalam bidang manufaktur untuk pembuatan bahan kimia tekstil.<br>
Perusahaan ini terletak di daerah Bandung dan telah berdiri selama 7 tahun.Perusahaan ini telah menjalin <br>
kerjasama dengan agen resmi di luar negeri, seperti Cina, India, dan Korea sebagai pemasok bahan baku dalam <br> 
pembuatan obat tekstil tersebut. Produk yang dihasilkan berupa bahan kimia tekstil yang biasa digunakan sebagai<br> 
pewarna dan pemutih kain. Bahan kimia yang di produksi dibuat untuk 3 jenis kain, yaitu kain katun, kain polister,<br>
dan kain nylon.</p>

<p1 class="text-justify" style="font-family:times new roman; font-size:20">
  <b><u>Visi Perusahaan</u></b>
  <br><br>
  Menjadi pilihan utama dalam bisnis bahan kimia pembantu proses tekstil.
</p1>

<br><br>

<p2 class="text-justify" style="font-family:times new roman; font-size:20">
  <b><u>Misi Perusahaan</u></b>
  <br><br>
  Untuk dikenal sebagai pembuat zat kimia tekstil berkualitas tinggi yang memberikan nilai tambah (bagi pelanggan kami)
  <br>
  dengan menggunakan seluruh talenta anggota-anggota dan pekerja-pekerja kami.
  <br>
</p2>